body {
    background-image: url(../img/anime-cityscape-landscape-scenery-4k_1541975011.jpg);
  }
  
  .logo {
    font-family: 'Peralta', cursive;
  }
  
  .logo a {
    color: rgba(0,0,0,.9);
  }
  
  .logo a:hover,
  .logo a:active {
    text-decoration: none;
  }